<form class="form-inline search-form">
  <div class="form-group">
    <label for="searchField">Company Search</label>
    <input type="text" class="form-control" id="searchField" onkeypress="javascript:return (event.keyCode != 13)">
  </div>
  <a class="btn btn-primary" {{action "search"}}>Search</a>
</form>
