<tr class="stock-tr">
  <td>{{stock.name}}</td>
  <td>{{stock.exchange}}:{{stock.symbol}}</td>
  <td>{{#link-to 'history' stock.symbol class='history-link btn btn-primary'}}History{{/link-to}}</td>
</tr>
